#This info is autoloaded from docker compose automatically. It is here for dev purpose only
# Used by prisma.config.ts file
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN= # 3600 - 1 hour 
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN= # 604800 - 7 days
