#This info is autoloaded from docker compose automatically. It is here for dev purpose only
# Used by prisma.config.ts file
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<db_name>"
JWT_SECRET="A-veryLong-Pass"
JWT_EXPIRES_IN= # 3600 - 1 hour 
JWT_REFRESH_SECRET="Another-veryLong-Pass"
JWT_REFRESH_EXPIRES_IN= # 604800 - 7 days
STRIPE_SECRET_KEY=""
STRIPE_TEST_PAYMENT_METHOD_ID=pm_card_visa #— always succeeds. Swap it for pm_card_visa_chargeDeclined if you want to manually trigger a decline outside the test suite
STRIPE_CURRENCY=usd