#This info is autoloaded from docker compose automatically. It is here for dev purpose only
# Used by prisma.config.ts file
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<db_name>"
JWT_SECRET="A-veryLong-Pass"
JWT_EXPIRES_IN= # 3600 - 1 hour 
JWT_REFRESH_SECRET="Another-veryLong-Pass"
JWT_REFRESH_EXPIRES_IN= # 604800 - 7 days
